{% extends 'base.html.twig' %}

{% block title %}Editar Pregunta Municipal{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Editar Pregunta Municipal</h1>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.municipio) }}
            {{ form_row(form.temaMunicipal) }}
            {{ form_row(form.texto) }}
            {{ form_row(form.dificultad) }}
            {{ form_row(form.opcionA) }}
            {{ form_row(form.opcionB) }}
            {{ form_row(form.opcionC) }}
            {{ form_row(form.opcionD) }}
            {{ form_row(form.respuestaCorrecta) }}
            {{ form_row(form.retroalimentacion) }}
            
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{{ path('app_pregunta_municipal_index') }}" class="btn btn-secondary">Cancelar</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}




