{% extends 'base.html.twig' %}

{% block title %}Editar Pregunta{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Editar Pregunta #{{ pregunta.id }}</h1>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
            {# Campos ocultos para mantener los filtros #}
            {% if filtros.search is defined %}
                <input type="hidden" name="filtro_search" value="{{ filtros.search }}">
            {% endif %}
            {% if filtros.tema is defined %}
                <input type="hidden" name="filtro_tema" value="{{ filtros.tema }}">
            {% endif %}
            {% if filtros.ley is defined %}
                <input type="hidden" name="filtro_ley" value="{{ filtros.ley }}">
            {% endif %}
            {% if filtros.dificultad is defined %}
                <input type="hidden" name="filtro_dificultad" value="{{ filtros.dificultad }}">
            {% endif %}
            {% if filtros.articulo is defined %}
                <input type="hidden" name="filtro_articulo" value="{{ filtros.articulo }}">
            {% endif %}
            {% if filtros.page is defined %}
                <input type="hidden" name="filtro_page" value="{{ filtros.page }}">
            {% endif %}
            
            {{ form_row(form.texto) }}
            {{ form_row(form.dificultad) }}
            {{ form_row(form.tema) }}
            {{ form_row(form.ley) }}
            {{ form_row(form.articulo) }}
            {{ form_row(form.retroalimentacion) }}
            
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{{ path('app_pregunta_index', filtros|default({})) }}" class="btn btn-secondary">Cancelar</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

