{% extends 'base.html.twig' %}

{% block title %}Nuevo Artículo{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Nuevo Artículo</h1>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_row(form.numero) }}
            {{ form_row(form.ley) }}
            {{ form_row(form.explicacion) }}
            {{ form_row(form.videoFile) }}
            
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{{ path('app_articulo_index') }}" class="btn btn-secondary">Cancelar</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

