{% extends 'base.html.twig' %}

{% block title %}Nueva Convocatoria{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Nueva Convocatoria</h1>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.municipio) }}
            {{ form_row(form.fechaTeorico) }}
            {{ form_row(form.fechaFisicas) }}
            {{ form_row(form.fechaPsicotecnico) }}
            {{ form_row(form.activo) }}
            {{ form_row(form.documentosFiles) }}
            
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{{ path('app_convocatoria_index') }}" class="btn btn-secondary">Cancelar</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}












